@import "styles/themes.scss";
@import "styles/variables.scss";

.ant-menu-item,
.ant-menu{
    background-color: var(--color-primary-9) !important;
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover{
    background-color: var(--color-primary-10) !important;
}

.ant-menu-submenu-selected{
    .ant-menu-submenu-title{
        color: white !important;
    }
}

.ant-btn-color-primary{
    background-color: var(--color-primary-7) !important;
}